####
### @file .gitignore
### @author Guillaume LEMONNIER
### @brief 
### @version 1.1
### @date 2021-05-31
### @updated 2025-07-26
### 
### @copyright Copyright (c) 2021-2025
### 
####

# Build outputs
*.o
*.obj
*.out
*.exe
ZeldaLike
ZeldaLike-debug
ZeldaLike.out
build/
dist/

# Test outputs
tests/test_utils
tests/*.out

# Log files
*.log
debug.log
zelda_debug.log

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# vscode
.vscode

#JetBrain
.idea

# image
image/donjonmap.gif
image/exteriormap.png
image/grotemap.png